*{
    background-color: rgb(209, 209, 209);
    font-size: 25px;
}
/* Id Selector */
#Id-Selector{
    color: red;
}
/* Class Selector */
.class-selector{
    color: white;
}
/* Tag Selector */
span{
    color: green;
}
/* Attribute Selector */
[type=text]{
    color: aqua;
}

/* Select List Selector */
i,.select-list-with-class{
    color: blue;
}

/* Descendant Combinator */
div b{
    color: blueviolet;
}
/* Child Combinator */
p>b{
    color: brown;
}
/* Sibling Combinator */
h3~h4,h3~.sibling-combinator-with-class{
    color: cadetblue;
}
/* Adjacent Combinator */
header+footer{
    color: yellowgreen;
}

/* Pseudo Classes Selector */
a:visited{
    color: coral;
}
input:invalid{
    background-color: red;
}
/* Pseudo Element Selector */
p::first-line{
    color: rgb(73, 82, 27);
}